@font-face {
  font-family: 'Monstserrat';
  src: local('Monstserrat-Semibold'), local('Monstserrat-Semibold'),
    url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Monstserrat';
  src: local('Monstserrat Medium'), local('Monstserrat-Medium'),
    url('../../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
